@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

body {
    background: #191816;
    margin: 0;
}

h2 {
    margin-top: 0;
    color: #d4ccb6;
}

p {
    color: #afb6c2;
}

input[type=login] {
    border-radius: 5px;
    border: 1px solid #188d1e;
    width: 100%;
    height: 40px;
    margin-bottom: 5%;
    background: transparent;
    color: #afb6c2;
}

input[type=login]:hover {
    border: 2px solid #188d1e;
}

input[type=login]:focus {
    border: 2px solid #188d1e;
    outline: none;
}

input[type=password] {
    border-radius: 5px;
    border: 1px solid #188d1e;
    width: 100%;
    height: 40px;
    margin-bottom: 5%;
    background: transparent;
    color: #afb6c2;
}

input[type=password]:hover {
    border: 2px solid #188d1e;
}

input[type=password]:focus {
    border: 2px solid #188d1e;
    outline: none;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #188d1e;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    appearance: none;
}

input[type=checkbox]:hover {
    border: 2px solid #188d1e;
}

input[type=checkbox]:checked {
    background: #188d1e;
}

button[type=entrar] {
    border-radius: 5px;
    border-width: 0;
    width: 100%;
    height: 50px;
    background: #188d1e;
    cursor: pointer;
}

button[type=entrar]:hover {
    background: #127417;
}

button[type=entrar]:active {
    background: #188d1e;
}

button[type=forgot] {
    background: transparent;
    cursor: pointer;
    border: none;
}

label {
    display: flex;
}

.logo {
    padding: 1rem;
    position: absolute;
}

.homePage {
    display: flex;
}

.leftSide {
    height: 100vh;
    width: 50vw;
    flex-basis: 50vw;
    transition: all 0.2s;
}

.rightSide {
    height: 100vh;
    width: 50vw;
    flex-basis: 50vw;
    transition: all 0.2s;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #24221f;
    height: 400px;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.forgotPassword {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

#wmbdLogo {
    height: 100px;
}

#wimbledomBg {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 850px) {
    .rightSide {
        height: 100vh;
        width: 100vw;
        flex-basis: 0%;
    }

    .leftSide {
        height: 100vh;
        width: 0vw;
        flex-basis: 100%;
    }
}

@media (min-width: 851px) {
    .leftSide:hover {
        flex-basis: 53vw;
        transition: all 0.2s;
    }

    .rightSide:hover {
        flex-basis: 53vw;
        transition: all 0.2s;
    }
}